#app {

}
.container {
    width: auto;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-bottom: 40px;
    font-weight: bold;
}

.form-sign {
    display: contents;
}

.form-group {
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
}

.form-1 {
    display: inline-flex;
}

.form-2 {
    display: inline-flex;
}

.signature {
    margin-bottom: 40px;
}

.btn-clipboard:hover {
    cursor: pointer;
}



