#app {

}
.container {
    width: auto;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-sign {
    display: flex;
}

.form-1 {
    padding-right: 40px;
}



