<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Gerador de Assinaturas</title>
    <meta name="description" content="Gerador de assinaturas de e-mail">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="favicon.ico">

    <link rel="stylesheet" href="https://unpkg.com/@benfeitoria/styles/dist/css/main.css"/>
    <link rel="stylesheet" href="./app.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.1/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/v-mask/dist/v-mask.min.js"></script>
</head>
<body>
<div id="app">
    <div class="container">

        <img class="logo" src="/dist/img/logo-pink.png" alt="Logo Benfeitoria">
        <h1 class="title">Gerador de assinatura</h1>

        <div id="coppied-alert" v-if="clipped">
            <div class="alert bg-alert-1">
                Assinatura copiada com sucesso!
            </div>            
        </div>

            <form class="form-sign">
                <div class="form-1">
                    <div class="form-group">
                        <label for="name">Digite seu nome:</label>
                        <input id="name" type="text" v-model="name">
                    </div>
                    <div class="form-group">
                        <label for="role">Digite seu cargo:</label>
                        <input id="role" type="text" v-model="role">
                    </div>
                </div>
                <div class="form-2">
                    <div class="form-group">
                        <label for="email">Digite seu e-mail:</label>
                        <input id="email" type="text" v-model="email">
                    </div>
                    <div class="form-group">
                        <label for="phone">Digite seu telefone:</label>
                        <input id="phone" type="text" v-model="phone" v-mask="phone_mask">
                    </div>
                </div>
            </form>

        <div class="signature">

            <table id="signature-table" style="
                width: 322px; 
                height: 107px; 
                display: contents;">
                <tbody>
                    <tr style="background-color: white;">

                        <td style="
                        padding: 0 20px 0 0;
                        margin: 0;
                        border-right:1px solid #888888;">

                            <a :href="url.site" target="_blank" style="
                            margin: 0;">
                                <img alt="Benfeitoria Logo" src="https://unpkg.com/@benfeitoria/sign/dist/img/logo-pink.png" style="
                                    width: 124px; 
                                    height: 31px;
                                    margin-top: -10px;">
                            </a>

                            <p style="
                            margin: 0;
                            padding: 5px 0 0 0;
                            font-size: 12px;">
                                <a :href="url.site" target="_blank" style="color: #0A55C4; margin: 0;">
                                    benfeitoria.com</a> | 
                                <a :href="url.blog" target="_blank" style="color: #0A55C4; margin: 0;">
                                    blog</a>
                            </p> 

                            <ul style="
                            margin: 0;
                            padding: 15px 0 0 0;
                            list-style: none;
                            font-size: 0px;">
                                <li style="display: inline; margin: 0 5px 0 0;">
                                    <a :href="url.instagram" target="_blank">
                                        <img src="https://unpkg.com/@benfeitoria/sign/dist/img/instagram.png" alt="Instagram Benfeitoria" >
                                    </a>
                                </li>
                                <li style="display: inline; margin: 0 5px 0 0;">
                                    <a :href="url.facebook" target="_blank">
                                        <img src="https://unpkg.com/@benfeitoria/sign/dist/img/facebook.png" alt="Facebook Benfeitoria">
                                    </a>
                                </li>
                                <li style="display: inline; margin: 0 5px 0 0;">
                                    <a :href="url.linkedin" target="_blank">
                                        <img src="https://unpkg.com/@benfeitoria/sign/dist/img/linkedin.png" alt="Linkedin Benfeitoria">
                                    </a>
                                </li>
                                <li style="display: inline; margin: 0 5px 0 0;">
                                    <a :href="url.twitter" target="_blank">
                                        <img src="https://unpkg.com/@benfeitoria/sign/dist/img/twitter.png" alt="Twitter Benfeitoria">
                                    </a>
                                </li>
                            </ul>
                            
                        </td>

                        <td style="padding: 0 0 0 20px;
                        margin: 0;">

                            <p style="
                            padding: 0;
                            margin: 0;
                            font-size: 14px;
                            font-weight: bold;">
                                {{ name }}
                            </p>

                            <p style="
                            padding: 0;
                            margin: 5px 0 0 0;
                            font-size: 12px; 
                            color: #A4A4A4;">
                                {{ role }}
                            </p>

                            <hr style="
                            padding: 0;
                            margin: 8px 0 0 0;
                            width: 16px; 
                            border-bottom: 1px solid #002E93;">

                            <p style="
                            padding: 12px 0 0 0;
                            margin: 0;
                            font-size: 12px;">
                                {{ email }}
                            </p>

                            <p style="
                            padding: 5px 0 0 0;
                            margin: 0;
                            font-size: 12px;">
                                {{ phone }}
                            </p>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <a id="copy-html" class="btn btn--pink-1 btn-clipboard" data-clipboard-target="#signature-table">Copiar assinatura</a>
    </div>

</div>
<script type="text/javascript" src="app.js"></script>
</body>
</html>